<div class="wrap">
  <div class="top"></div>
  <div class="bottom-wrap">
    <div class="bottom">

    </div>
  </div>

  <div class="login">
    <div class="container">
      <div class="header">
        <div class="left">
          <div class="app-name">
            <img src="../../../assets/images/login/honeycomb.svg">
            fiveCode software
          </div>
        </div>
        <div class="right">
          <div class="menu-item">
            <img src="../../../assets/images/login/dashboard2.svg" style="width: 32px">
            dashboard
          </div>


          <div class="menu-item">
            <img src="../../../assets/images/login/register.svg" style="width: 20px">
            register
          </div>

          <div class="menu-item">
            <img src="../../../assets/images/login/login.svg" style="width: 25px">
            login
          </div>

          <div class="menu-item">
            <img src="../../../assets/images/login/userC.svg" style="width: 20px">
            profile
          </div>
        </div>

      </div>

      <div class="col-md-12">
        <div class="row justify-content-center">
          <div class="form">
            <div class="row justify-content-center">
              <div class="content">
                <p class="welcome-text">welcome !</p>

                <p class="description">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                  dolore magna aliqua.
                </p>

                <div class="login-form">
                  <div class="sign-in-tools">
                    <div class="col-md-12 text-center">
                      <div class="title">
                        Sign in with
                      </div>

                      <div class="col-md-12">
                        <div class="row justify-content-center">
                          <button class="btn tools-btn">
                            <img src="../../../assets/images/login/search.svg" style="width: 32px;height: 32px">

                            google
                          </button>

                          <button class="btn tools-btn">
                            <img src="../../../assets/images/login/github-logo.svg" style="width: 32px;height: 32px">

                            github
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="sign-in-input">
                    <div class="col-md-12 text-center">
                      <div class="title">
                        Or sign in with credentials
                      </div>
                    </div>

                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                      <span class="input-group-text">
                        <div class="back">
                          <i class="fa fa-envelope"></i>
                        </div>
                      </span>
                      </div>
                      <input type="email" [(ngModel)]="user.userName" class="form-control" placeholder="Email">
                    </div>


                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                      <span class="input-group-text">
                        <div class="back">
                          <i class="fa fa-lock"></i>
                        </div>
                      </span>
                      </div>
                      <input type="password" class="form-control" [(ngModel)]="user.password" placeholder="Password">
                    </div>

                    <div class="custom-check">
                      <input class="styled-checkbox" id="styled-checkbox-1" type="checkbox" value="value1">
                      <label for="styled-checkbox-1">Remember me</label>
                    </div>

                    <div class="col-md-12">
                      <div class="row justify-content-center">
                        <button class="btn btn-login" (click)="login()">
                          sign in
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row justify-content-between">
              <div class="link-text">
                Forget Password?
              </div>

              <div class="link-text">
                Create a new account
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container wrap-footer">
      <div class="footer">
        <div class="left">
          <div><span style="color: #ffffffc4">©</span> &nbsp;<span style="color: #ffffffc4">2019</span>&nbsp; <span style="color: #7A38E7">FiveCod Software</span></div>
        </div>

        <div class="right">
          <ul>
            <li>design</li>
            <li>uploading</li>
            <li>about us</li>
            <li>blog</li>
            <li>help</li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
